In [9]:
import pandas as pd

In [24]:
def get_seat_data(string):
    row = int(string.replace('F', '0').replace('B', '1')[:7], 2)
    col = int(string.replace('L', '0').replace('R', '1')[7:], 2)
    
    return pd.Series({'row': row, 'col': col})

In [28]:
pd.read_csv('input.txt', header=None)[0].astype(str)

0      BFBFBBBRLL
1      BFFBBBBRRR
2      FFBBFBFLLL
3      FFBBBBBRLR
4      BFFBFBFRRL
          ...
804    FBFFFBBLRR
805    FBBBBFFRLR
806    FBBFBFFRLR
807    FBFBBFFRRL
808    FBFFFFBRRL
Name: 0, Length: 809, dtype: object

In [49]:
seats = pd.read_csv('input.txt', header=None)[0].apply(get_seat_data)
seats['id'] = seats.row * 8 + seats.col

In [50]:
seats.id.max()

822

In [35]:
seats.id.sort_values().diff().unique()

array([nan,  1.,  2.])

In [52]:
seats = seats.sort_values('id').reset_index(drop=True)

In [55]:
seats[seats.id.diff() == 2]

     row  col   id
692   88    2  706

In [56]:
seats.iloc[691:693]

     row  col   id
691   88    0  704
692   88    2  706